<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DevNQ | {{page.title}}</title>
    <meta name="description" content="">
    <meta name="author" content="DevNQ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#2e2e2e">
    <meta name="msapplication-TileImage" content="/assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#2e2e2e">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:400">
    <script defer type="text/javascript" src="/assets/js/bundle.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header" class="container">
        <nav class="navbar navbar-expand-sm navbar-dark">
          <a class="navbar-brand" href="/index.html">
            <img src="/assets/images/devnq.svg" class="navbar-brand-image">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-sm-3">
                <a class="nav-link" href="https://devnq.slack.com">Slack</a>
              </li>
              <li class="nav-item mx-sm-3">
                <a class="nav-link" href="https://www.meetup.com/dev_nq/">Meetups</a>
              </li>
              <li class="nav-item ml-sm-3">
                <a class="nav-link" href="https://twitter.com/dev_nq"><i class="fab fa-twitter d-sm-inline d-none"></i><span class="d-inline d-sm-none">Twitter</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/devnorthqueensland/"><i class="fab fa-facebook d-sm-inline d-none"></i><span class="d-inline d-sm-none">Facebook</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UCMKRM7oJFptsQYRhpS4KPaA"><i class="fab fa-youtube d-sm-inline d-none"></i><span class="d-inline d-sm-none">Youtube</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
