<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DevNQ</title>
    <meta name="description" content="">
    <meta name="author" content="DevNQ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:400">
    <script defer type="text/javascript" src="/assets/js/bundle.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header" class="container">
        <nav class="navbar navbar-expand-sm navbar-dark">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/devnq.svg" class="navbar-brand-image">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-sm-3">
                <a class="nav-link" href="https://devnq.slack.com">Slack</a>
              </li>
              <li class="nav-item mx-sm-3">
                <a class="nav-link" href="https://www.meetup.com/dev_nq/">Meetups</a>
              </li>
              <li class="nav-item ml-sm-3">
                <a class="nav-link" href="https://twitter.com/dev_nq"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/devnorthqueensland/"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UCMKRM7oJFptsQYRhpS4KPaA"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
