    <div id="footer" class="footer">
      <div class="container">
        <h2>Become part of the community...</h2>
        <div class="d-flex flex-wrap justify-content-around">
          <div class="footer-com">
            <a href="https://join.slack.com/t/devnq/shared_invite/enQtMzAwNDUzMjM2NjE1LWVlM2Q2ZjgxOGIxZjFlMDEyMzlmYTljYTllZmYyYWQ5MGVmODZlNTM5NGEzOWZlMjM5NDkxYTRkZmMxOTc5ZjM" class="btn">
              <i class="fab fa-slack fa-3x"></i>
              <p>Join our Slack team</p>
            </a>
          </div>
          <div class="footer-com">
            <a href="https://www.meetup.com/dev_nq/" class="btn">
              <i class="fab fa-meetup fa-3x"></i>
              <p>Attend a Meetup</p>
            </a>
          </div>
          <div class="footer-com">
            <a href="https://www.facebook.com/devnorthqueensland/" class="btn">
              <i class="fab fa-facebook fa-3x"></i>
              <p>Follow on Facebook</p>
            <a/>
          </div>
          <div class="footer-com">
            <a href="https://www.youtube.com/channel/UCMKRM7oJFptsQYRhpS4KPaA" class="btn">
              <i class="fab fa-youtube fa-3x"></i>
              <p>Watch on Youtube</p>
            <a/>
          </div>
          <div class="footer-com">
            <a href="http://eepurl.com/diRYxv" class="btn">
              <i class="fas fa-envelope fa-3x"></i>
              <p>Stay updated</p>
            </a>
          </div>
        </div>
        <div class="footer-meta">
          <p>&copy; DevNQ 2017-2020</p>
        </div>
      </div>
    </div>
  </body>
</html>
