<h2>Next Meetup</h2>
<div id="next-meetup-default">
  <i class="fas fa-spinner fa-pulse fa-2x my-5"></i>
</div>
<div id="next-meetup-none">
  <p>
    Join meetup to get instantly updated when we announce our next meetup!
  </p>
  <a id="meetup-join-link" class="btn btn-primary float-right" href="https://www.meetup.com/dev_nq/">Join Now</a>
</div>
<div id="next-meetup-event" class="meetup-event">
  <div id="meetup-event-title"></div>
  <div id="meetup-event-datetime"></div>
  <div id="meetup-event-location"></div>
  <a id="meetup-event-link" class="btn btn-primary float-right">RSVP Now</a>
  <div class="clearfix"></div>
</div>