<div class="next-event-wrapper meetup-widget" meetup_widget_limit="1">
  <h2>Next Event</h2>
  <div id="next-event-default" class="meetup-default">
    <i class="fas fa-spinner fa-pulse fa-2x my-5"></i>
  </div>
  <div id="next-event-none" class="meetup-none">
    <p>
      Join DevNQ's Meetup to get instantly updated when we announce our next event!
    </p>
    <a id="event-join-link" class="btn btn-light float-right" href="{{site.links.meetup}}">Join Meetup</a>
    <div class="clearfix"></div>
  </div>
  <div class="next-events meetup-events">
    <div class="next-event meetup-event">
      <div class="meetup-event-title"></div>
      <div><i class="mdi fa-calendar event-icon"></i><span class="meetup-event-datetime"></span></div>
      <div class="meetup-event-desc"></div>
      <a class="btn btn-light float-right meetup-event-link">RSVP Now</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>