<div class="upcoming-event-wrapper meetup-widget" meetup_widget_limit="3">
    <div id="upcoming-event-default" class="meetup-default">
        <i class="fas fa-spinner fa-pulse fa-2x my-5"></i>
    </div>
    <div id="upcoming-event-none" class="meetup-none">
        <p>
            Join meetup to get instantly updated when we announce our next event!
        </p>
        <a id="event-join-link" class="btn btn-primary float-right" href="{{site.links.meetup}}">Join Now</a>
    </div>
    <div class="upcoming-events meetup-events">
        <div class="upcoming-event meetup-event">
            <div class="meetup-event-title"></div>
            <div><i class="mdi fa-calendar event-icon"></i><span class="meetup-event-datetime"></span></div>
            <a class="btn btn-link float-right meetup-event-link">More details... </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>