body {
  background-color: #2e2e2e;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', Futura, 'Trebuchet MS', Arial, sans-serif;
}

h1 {
  font-size: 24pt;
  font-weight: bold;
  color: #d33232;
}

h2 {
  font-size: 18pt;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:visited {
  background-color: #d33232;
  border: 1px solid #d33232;
}

.btn-primary:not(:disabled):not(.disabled):hover, .btn-primary:not(:disabled):not(.disabled):focus {
  background-color: #ba1321;
  border: 1px solid #ba1321;
}

.btn-hack18, .btn-hack18:not(:disabled):not(.disabled):active, .btn-hack18:visited {
  color: #fff;
  background-color: #209dd1;
  border: 1px solid #209dd1;
}

.btn-hack18:not(:disabled):not(.disabled):hover, .btn-hack18:not(:disabled):not(.disabled):focus {
  color: #fff;
  background-color: #6cc5e9;
  border: 1px solid #6cc5e9;
}

.schedule-time {
  display: inline-block;
  width: 100px;
}

.schedule-desc {
  margin-left: 100px;
}

#wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 30px 0;
}

#header .navbar-brand-image {
  width: 177px;
}

#header .navbar-brand-image-white, #header .navbar-brand-image-white .dev {
  fill: #fff !important;
}

#header .navbar-nav {
  font-family: 'Montserrat', Futura, 'Trebuchet MS', Arial, sans-serif;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-feature-a {
  background-color: rgba(255, 255, 255, 0.1);
  height: 2000px;
  width: 80px;
  position: absolute;
  top: -700px;
  left: -50px;
  transform: rotate(-45deg);
}

.hero-feature-b {
  background-color: rgba(255, 255, 255, 0.05);
  height: 2000px;
  width: 800px;
  position: absolute;
  top: -750px;
  left: -50px;
  transform: rotate(-45deg);
}

.hero-content {
  padding: 40px 20px;
}

.hero-content-white {
  color: #fff;
}

.hero-content-white h1 {
  color: #fff;
}

.hero-feature-card-block {
  position: relative;
}

.hero-feature-card {
  color: #ffffff;
  background-size: cover;
  min-height: 100%;
}

.hero-feature-card-community {
  background-color: #263238;
  background-image: url("/assets/images/backgrounds/events-bg.jpg");
}

.hero-feature-card-learn {
  background-color: #126668;
  background-image: url("/assets/images/backgrounds/learn-bg.jpg");
}

.hero-feature-card-underlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

#content {
  flex: 1 0 auto;
  padding-bottom: 30px;
}

.hero-footer-highlight {
  background-color: #d33232;
  color: #fff;
}

.content-area {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.content-area h2, .content-area h3 {
  margin-bottom: .8em;
}

.content-area-feature {
  background-color: #eeeeee;
}

.dark-content {
  color: #fff;
}

.illustration-small {
  max-height: 200px;
  max-width: 200px;
  margin: 30px;
}

.illustration-medium {
  max-height: 400px;
  max-width: 400px;
  margin: 30px;
}

.event-info-box {
  background-color: #eeeeee;
  color: #2e2e2e;
  font-size: 0.9em;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  clear: both;
}

.event-info-box dl,.event-info-box div  {
  display: inline-block;
  border-right: 1px solid #AAA;
  padding: 0 15px;
  margin: 0;
}

.event-info-box dl:last-child, .event-info-box div:last-child {
  border: none;
}

.sunken {
  position: relative;
  width: 100%;
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sunken-image {
  display: none; /* overridden by bootstrap at appropriate sizes */
  position: absolute;
  top: 0px;
  right: 0px;
  background-size: cover;
  height: 100%;
  width: 50%;
}

.sunken-video {
  overflow: hidden;
}

.sunken-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/**
  MEETUP WIDGET
 */

/* next-event-default is shown until results are loaded then #next-event-event or #next-event-none are shown */
.meetup-default {
  display: block;
}

.meetup-events, .meetup-none {
  display: none;
}

/**
  NEXT EVENT WIDGET
 */

.next-event-wrapper {
  background-color: #d33232;
  padding: 30px;
}

.next-event-wrapper .meetup-default {
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}

.next-event-wrapper .meetup-none p {
  font-style: italic;
}

.next-event {
  margin: 20px 0;
}

.next-event .meetup-event-title {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 1em;
}

.next-event .event-icon {
  width: 1em;
  margin-right: 0.8em;
}

.next-event .meetup-event-datetime {
  line-height: 2.2em;
}

.next-event .meetup-event-desc {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  padding: 0 !important;
  margin: 25px 0;
  -webkit-line-clamp : 3;
  max-height: 3.6em;
}

.next-event .meetup-event-link {
  margin-top: 20px;
}

/**
  UPCOMING EVENTS WIDGET
 */

.upcoming-event-wrapper .meetup-default {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.upcoming-event {
  padding: 25px 0;
  border-bottom: 2px solid #999;
}

.upcoming-event:last-child {
  border-bottom: none;
}


.upcoming-event .meetup-event-title {
  font-weight: bold;
}

.upcoming-event .event-icon {
  width: 1em;
  margin-right: 0.8em;
}

.upcoming-event .meetup-event-datetime {
  line-height: 2.5em;
}

.page-content, .footer {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 5px 0;
}

.hack-col {
  min-width: 135px;
  width: 33%;
  text-align: center;
}

.hack-sponsor-col {
  min-width: 135px;
  width: 33%;
  text-align: center;
  margin: 20px 0;
}

.hack-sponsor-logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 200px;
}

.header-programmes {
  height: 200px;
  display: flex;
}

.header-programmes h3 {
  color: #fff;
  font-weight: bold;
  align-self: flex-end;
}


.header-programmes-events {
  background-size: cover;
  background-image: url("/assets/images/programmes/event-bg.jpg");
}

.header-programmes-hardware-library {
  background-size: cover;
  background-image: url("/assets/images/programmes/hardware-library-bg.jpg");
}

.header-programmes-fah {
  background-size: cover;
  background-image: url("/assets/images/programmes/fah-bg.jpg");
}

.footer-col {
  min-width: 135px;
  width: 25%;
}

.footer-col h4 {
  font-size: 14pt;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col a p {
  font-size: 10pt;
}

.footer-col i, .footer-col svg {
  margin: 20px;
}

.footer-col .btn {
  color: #787878;
}

.footer-col .btn:hover {
  color: #2e2e2e;
}

.footer-col .sponsor-logo-link {
  opacity: 0.7;
}

.footer-col .sponsor-logo-link:hover {
  opacity: 1;
}

.footer-meta {
  font-size: 10pt;
}

.footer-meta p {
  margin: 0;
}

.text-montserrat {
  font-family: "Montserrat", Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
